<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760195484246-3laen5b5nsdgrm984c80cagimlu88o0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760195484246-3laen5b5nsdgrm984c80cagimlu88o0p</string>
	<key>API_KEY</key>
	<string>AIzaSyC16gbDBHctN429u5gSGHHrZmEscCQkerg</string>
	<key>GCM_SENDER_ID</key>
	<string>760195484246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carloscastiglioni.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-ba841</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-ba841.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760195484246:ios:ec8f0755165e1a87b209f7</string>
</dict>
</plist>